* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  font: 20px;
}

body {
  background: linear-gradient(
      180deg,
      rgba(35, 37, 38, 1) 0%,
      rgba(72, 74, 76, 1) 100%
    )
    no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

h4 {
  font: 20px;
}
p {
  font: 20px;
  color: white;
}

a {
  font: 20px;
  color: white;
  margin-left: 0px;
  margin-top: 15px;
  text-decoration: none;
}

form {
  width: 70%;
  margin: 60px auto;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  padding: 30px 0px 50px 0px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  position: relative;
  margin: 0px;
  color: white;
  margin-top: 10px;
  padding-block: inherit;
}
.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: white;
  transition: ease 0.3s;
}
.input {
  width: 100vw;
  padding: 0px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.line-box {
  position: relative;
  width: 100%;
  height: 3px;
  background: #bcbcbc;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8bc34a;
  transition: ease 0.6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  /* background: rgb(220, 220, 220); */
  background: white;

  font-weight: bold;
  color: rgb(77, 76, 76);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease 0.3s;
}

button:hover {
  background: #34a853;
  color: #ffffff;
}

.button-register {
  width: 150px;
}
.radio-check {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  margin-bottom: 10px;
}

.button-facebook {
  width: 320px;
  background-color: #1877f2;
  color: white;
  margin-top: 20px;
}
.button-google {
  width: 320px;
  background-color: white;
  color: black;
  margin-top: 20px;
}

.body {
  width: 390px;
  height: 844px;
}
.main_body {
  /* background-image: url("./public/image/map.jpeg"); */
  width: 100vw;
  height: 95vh;
}

.nav_body {
  background-color: #141414;
  width: 100vw;
  height: 77px;
}

.under_nav {
  height: 77px;
}

.add_btn {
  background-color: #34a853;
  border-radius: 50px;
  width: 77px;
  color: white;
}
.nav_btn {
  color: #ffffff;
  background-color: #141414;
}
.Nav {
  position: fixed;
  bottom: 0;
}

.filter_btn {
  margin: 15px auto;
  width: 120px;
  height: 47px;
  border-radius: 35px;
  background-color: #777777;
  border: 1px solid #444444;
}

.filter_container {
  background-color: transparent;
  position: absolute;
  top: 20px;
  width: 100vw;
  display: flex;
}

.event_container {
  position: absolute;
  bottom: 105px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.main_body_eventDetail {
  background-color: #ffffff;
  width: 300px;
  height: 284px;
  border-radius: 30px;
}
.main_body_eventDetail p {
  color: #000;
  font-size: 12px;
}
.swipe_btn {
  font-size: 15px;
  color: black;
  background-color: transparent;
  width: 15vw;
  display: flex;
  justify-content: center;
}

.event_image {
  background-image: url("./public/image/eventImg.jpg");
  width: 100%;
  height: 166px;
  border-radius: 30px 30px 0 0;
}

.event_thumbnail_title {
  font-size: 24px;
  line-height: 15px;
}
.b-text {
  color: #000000;
  font-size: 14px;
  line-height: 0;
}

.event_detail_image_header {
  background-image: url("./public/image/eventImg.jpg");
  width: 390px;
  height: 333px;
  border-radius: 30px 30px 0 0;
}

.event_detail_header {
  color: #000000;
  font-size: 32px;
  line-height: 20px;
}
.event_detail_location {
  color: #000000;
}

.event_detail_map {
  background-image: url("./public/image/map.jpeg");

  border-radius: 30px;
  width: 320px;
  height: 196px;
  position: relative;
  left: 21px;
  margin-bottom: 15px;
  border: 2px solid #c4c4c4;
}

.NavBar-Event {
  margin-top: 760px;
}

.Choose-Event {
  font-size: 30px;
  padding: 0px;
  margin-top: 80px;
}

/* Choose Event */

.container-sport {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
}

.column-sport {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
}

.container-sport {
  margin-top: 0vh;
}

svg {
  display: flex;
  font-size: 30px;
}

.sub-sport {
  align-items: center;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 12px;
  width: 100%;
}

.event-calendar {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.calendar-detail {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.event-detail {
  display: flex;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}

.profile_image_profile {
  background-image: url("./public/image/profile_backgorund.jpg");
  width: 390px;
  height: 300px;
  display: flex;
}

.profile {
  margin-top: 300px;
}

.profile-detail {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.profile-details {
  display: flex;
  justify-content: space-evenly;
}

.profile_image_details {
  margin-top: 150px;
  margin-left: 30px;
}

.profile-name {
  display: flex;
  margin-top: 10px;
}

.profile-area {
  margin-top: 5px;
}

.p-friend {
  width: 33%;
}

.google_btn * {
  color: black;
}

/* calendar */

.event-calendar-container {
  margin: 20px 0;
}
